# Python
__pycache__/
*.pyc
*.pyo
*.pyd


# Virtual environment
venv/
ENV/

# OS/system files
.DS_Store
Thumbs.db

# FAISS large files
#vector_store/*.faiss
#vector_store/*.pkl

# Environment and secrets
.env
env_template.txt
*.env
.env.local
.env.production

# Credentials and sensitive files
token.pkl
gCalendar.json

# Logs
*.log
