# Supabase Configuration
SUPABASE_URL=https://cmpywleowxnvucymvwgv.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNtcHl3bGVvd3hudnVjeW12d2d2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTM4NDkwMjUsImV4cCI6MjA2OTQyNTAyNX0.O8jmR0zS_mK0KALSjAfHutRLDMtWB_Gzl1A8YVCLz4o
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNtcHl3bGVvd3hudnVjeW12d2d2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Mzg0OTAyNSwiZXhwIjoyMDY5NDI1MDI1fQ.Wqr-HNkeWSIYt6Okc38FCgq8lppsf2c2EPvr5S5e1qc
SUPABASE_JWT_SECRET=OSeH4HEt6kUNQ8iSUOk1JScLY9zN/VGJln92bLGu12K2ELtsoCUY3xEU9zmnyIDFcmMdffLy+5BsFeJImQolMQ==

# Database Configuration
DATABASE_1_URL=postgresql://postgres:03378624781@db.cmpywleowxnvucymvwgv.supabase.co:5432/postgres

# Other Configuration
EMBEDDING_MODEL_NAME=BAAI/bge-large-en-v1.5
LLM_MODEL_NAME=models/gemini-2.0-flash
CHUNK_SIZE=800
CHUNK_OVERLAP=50
